doctype html
html(lang="en")
	head
		title Game Science Blog
		link(rel='stylesheet', href='/blag/css/index.css')
	body
		each val in posts
			div(class="post" id="#{val.post_id}")
				h1
					a(href='/blog?id=' + val.post_id) #{val.title}
				hr
				!{val.summary}