doctype html
html(lang="en")
	head
		title #{title}
		link(rel='stylesheet', href='/blag/css/post.css')
	body
		div.heading
			div.backbutton
				a(href='/blog')
			div.title
				a(href='#heading') #{title}
		div.postContent !{body}